@import "tailwindcss";
@import "leaflet/dist/leaflet.css";
@import 'leaflet.markercluster/dist/MarkerCluster.css';
@import 'leaflet.markercluster/dist/MarkerCluster.Default.css';

@theme {
  --color-navy: #001F3D;
  --color-orange: #ED985F;
  --color-peach: #F7B980;
  --color-light-gray: #E6E6E6;
}